<!DOCTYPE html>
<html>
  <head>
    <title>OneUpADay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.min.css" rel="stylesheet">
  </head>

  <body data-controller="modal" class="bg-background">
    <%= render "shared/navbar" %>
    <main class="container w-3/4 px-5 mx-auto mt-28">
      <%= render "shared/post_modal" %>
      <%= render "shared/filters" %>
      <%= yield %>
    </main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
